#holder{
    position: relative;
    overflow: hidden;
}

.bk-image{
  position: absolute;
  z-index: 1;
}


.fg-text{
    margin-top: 36px;
    text-align: center;
    position: relative;
    z-index: 20;


}

.fg-text img{
    opacity: 0.5;
    
}
.fg-text h1{
    font-family: 'Lalezar', cursive;
    font-size: 72px;
    color: black;
        opacity: 0.5;
}



.button a {
     font-family: 'Oswald', sans-serif;
     font-size: 48px;
     color: black;
     border: white solid 3px;
     width: 250px;
     height: 100px;
     padding-top: 10px;
     display: block;
     margin: 100px auto auto auto;


}
.button a:hover{
    color: #333;
    text-decoration: none;
     background-color: white;
}